ES_HOST=http://localhost:9200
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
POSTGRES_USER=scipulse
POSTGRES_PASSWORD=scipulse
POSTGRES_DB=scipulse
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
